//Main style
@font-face {
    font-family: proxima-nova;
    src: url(https://fonts.typekit.net/af/015ec8/00000000000000003b9ad1b5/27/l?primer=e7c58b81a305e1fc09dd5591d751a34891b5b63ab278ac3b87ed8857fdd9b01a&fvd=n3) format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://fonts.typekit.net/af/edab9a/00000000000000003b9ad1b9/27/l?primer=e7c58b81a305e1fc09dd5591d751a34891b5b63ab278ac3b87ed8857fdd9b01a&fvd=n4) format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://fonts.typekit.net/af/921f74/00000000000000003b9ad1bb/27/l?primer=e7c58b81a305e1fc09dd5591d751a34891b5b63ab278ac3b87ed8857fdd9b01a&fvd=n6) format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://fonts.typekit.net/af/015ec8/00000000000000003b9ad1b5/27/d?primer=e7c58b81a305e1fc09dd5591d751a34891b5b63ab278ac3b87ed8857fdd9b01a&fvd=n3) format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://fonts.typekit.net/af/edab9a/00000000000000003b9ad1b9/27/d?primer=e7c58b81a305e1fc09dd5591d751a34891b5b63ab278ac3b87ed8857fdd9b01a&fvd=n4) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://fonts.typekit.net/af/921f74/00000000000000003b9ad1bb/27/d?primer=e7c58b81a305e1fc09dd5591d751a34891b5b63ab278ac3b87ed8857fdd9b01a&fvd=n6) format("woff");
    font-weight: 600;
    font-style: normal;
}

#yandex_rtb_R-A-191680-1 {
    margin-top: 20px;
    text-align: center
}

#yandex_rtb_R-A-191680-2 {
    text-align: center
}

.yap-R-A-191680-1,
.yap-R-A-191680-1 .yap-layout_block_fixed,
.yap-R-A-191680-2,
.yap-R-A-191680-2 .yap-layout_block_fixed {
    width: 100% !important
}

.yap-R-A-191680-1 .yap-layout_block_fixed-horizontal .yap-layout__wrapper {
    width: auto !important
}


a {
    color: map-get($foundation-palette, secondary);
    &:hover {
        color: map-get($foundation-palette, secondary);
        text-decoration: underline;
    }
    &:focus {
        text-decoration: none;
        color: #38A7F2;
    }
}

input[type="button"],
input[type="submit"],
input[type="reset"],
.button {
    display: inline-block;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 18px;
    padding: 8px 17px;
    margin: 0;
    font-size: 14px;
    outline: none;
    transition: all 0.25s ease-out, color 0.25s ease-out;
    background: map-get($foundation-palette, fourth);
    color: $white;
    border: 2px solid map-get($foundation-palette, fourth);
    text-decoration: none !important;
    white-space: nowrap;
    &:hover {
        background: #168587;
        border-color: #168587;
        color: $white;
    }
    &:focus {
        background: #14787A;
        border-color: #14787A;
        color: $white;
    }
    &.hollow {
        color: map-get($foundation-palette, fourth);
        border-width: 2px;
        border: 2px solid map-get($foundation-palette, fourth);
        background: $white;
        &:hover {
            color: $white;
            background: map-get($foundation-palette, fourth);
            border-color: map-get($foundation-palette, fourth);
        }
        &:focus {
            color: $white;
            background: #14787A;
            border-color: #14787A;
        }
    }
    &.orange{
        background-color: map-get($foundation-palette, warning);
        border-color: map-get($foundation-palette, warning);
        color: $black;
    }
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea,
select {
    display: inline-block;
    height: 36px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 12px;
    outline: none;
    resize: none;
    &:focus{
        border-color: $black;
    }
}
select{
    padding-right: 24px;
}

[type='checkbox'] + label{
    margin-right: 5px;
}
.input-group{
    > input, > select{
        position: relative;
        border-radius: 18px !important;
    }
    &-label{
        height: 36px;
        align-self: center;
        &:first-child{
            margin-right: -17px;
            padding-right: 25px;
        }
        &:last-child{
            margin-left: -17px;
            padding-left: 25px;
            border-radius: 0 18px 18px 0;
        }
    }
}

.tabs{
    &-title{
        a{
            transition: 200ms;
            min-height: 37px;
            background-color: map-get($foundation-palette, third);
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            font-weight: 600;
            color: $white;
            &[aria-selected="true"]{
                color: $black;
            }
        }
    }
}

.off-canvas-wrapper-inner{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.head {
    background: $light-gray;
    &_inner {
        min-height: 100px;
        flex-wrap:nowrap;
        @include breakpoint(medium down) {
            flex-wrap: wrap;
        }
        @include breakpoint(440px down) {
            padding-bottom: 10px;
        }
        .logo {
            height: 100%;
            max-height: 100px;
            padding-top: 7.5px;
            padding-bottom: 7.5px;
            @include breakpoint(440px down) {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
                img {
                    max-width: 180px;
                }
            }
        }
        .banner {
            max-width: 874px;
            padding-left: 0;
            padding-right: 11px;
            @include breakpoint(medium down) {
                flex: 0 0 100%;
                max-width: 100%;
                padding: 0;
            }
            img {
                width: 100%;
            }
        }
        .hamb {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background-color: map-get($foundation-palette, third);
            margin-right: 15px;
            position: relative;
            cursor: pointer;
            &:after {
                // transition-property: transform, border-color;
                transition-duration: .25s;
                transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
                transition-delay: 0s;
                transform-origin: center;
                width: 20px;
                height: 4px;
                background-color: $white;
                border-radius: 2px;
                content: "";
                position: absolute;
                left: calc(50% - 10px);
                top: 16px;
            }
            &[aria-expanded="true"] {
                &:after {
                    opacity: 0;
                }
                .hamb_inner {
                    &:after,
                    &:before {
                        transition-delay: .125s;
                    }
                    &:before {
                        transform: translateY(7px) rotate(135deg);
                    }
                    &:after {
                        transform: translateY(-7px) rotate(-135deg);
                    }
                }
            }
            &_inner {
                display: block;
                height: 18px;
                margin: 8px;
                margin-top: 9px;
                outline: none;
                position: relative;
                width: 20px;
                &:before {
                    @extend .hamb:after;
                    top: 0;
                }
                &:after {
                    @extend :before;
                    top: auto;
                    bottom: 0;
                }
            }
        }
    }
}

.login {
    text-align: center;
    padding-left: 0;
    flex-wrap: nowrap;
    min-width: 210px;
    @include breakpoint(medium down) {
        min-width: 260px
    }
    @include breakpoint(440px down) {
        flex: 1 1 0px;
        padding-left: 10px !important;
    }
    &_search {
        outline: none;
        i {
            color: $dark-gray;
            font-size: 20px;
        }
    }
    .button {
        white-space: nowrap;
        @include breakpoint(440px down) {
            width: 100%;
        }
    }
    .uprof {
        display: inline-block;
        width: calc(100% - 32px);
        text-align: left;
        vertical-align: middle;
        position: relative;
        min-width: 180px;
        &.is_new:before {
            content: '';
            position: absolute;
            top: 5px;
            left: 23px;
            width: 9px;
            height: 9px;
            background: #e74c3c;
            border-radius: 50%;
            border: 2px solid #ECF0F1;
        }
        img {
            float: left;
            width: 32px;
            margin-right: 10px;
            margin-top: 4px;
        }
        .ucab {
            display: block;
            color: map-get($foundation-palette, fourth);
        }
        .uexit {
            font-size: 12px;
            color: $medium-gray;
        }
        .label {
            display: table;
        }
    }
    &_enter{
        flex-wrap: nowrap;
        @include breakpoint(small down) {
            flex-wrap: wrap;
        }
    }
    &_register {
        padding-right: 55px !important;
        @include breakpoint(small down) {
            padding: 0 !important;
            padding-bottom: 20px !important;
            span {
                display: none;
            }
        }
        a, > span{
            display: flex;
            align-items: center;
            width: 100%;
            height: 37px;
            margin-bottom: 10px;
            color: $white;
            border-radius: 10px;
            padding: 0 12px;
            text-decoration: none;
            transition: 200ms;
            line-height: normal;
            @include breakpoint(small down) {
                width: 37px;
                padding: 0;
                justify-content: center;
                margin: 0;
            }
            &:hover {
                opacity: .9;
            }
            i {
                font-size: 24px;
                margin-right: 10px;
                width: 25px;
                text-align: center;
                @include breakpoint(small down) {
                    margin: 0;
                }
            }
        }
        > span{
            padding: 0;
            width: 37px;
            justify-content: center;
            margin: 5px 0;
            margin-right: 10px;
            i{
                margin: 0;
            }
        }
        &_facebook {
            background-color: #5480BE;
        }
        &_vkontakte {
            background-color: #2f6caa;
        }
        &_yandex {
            background-color: #dc4c39;
        }
        &_google {
            background-color: #505050;
            i {
                font-size: 20px !important;
            }
        }
        &_odnoklassniki {
            background-color: #ed812b;
        }
        &_twitter {
            background-color: #79CAEE;
            margin: 0 !important;
        }
    }
    &_form {
        position: relative;
        padding-left: 30px !important;
        @include breakpoint(small down) {
            padding: 0 !important;
        }
        &:before {
            content: 'или';
            position: absolute;
            top: calc(50% - 15px);
            left: -26px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid $medium-gray;
            font-size: 12px;
            color: $medium-gray;
            background-color: $white;
            z-index: 2;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 15px;
            font-weight: 600;
            @include breakpoint(small down) {
                display: none;
            }
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: -12px;
            width: 2px;
            height: 100%;
            background-color: $medium-gray;
            @include breakpoint(small down) {
                display: none;
            }
        }
        [type="text"] {
            margin-bottom: 25px;
        }
        > div {
            &:first-of-type {
                padding-right: 5px;
            }
            &:last-of-type {
                padding-left: 5px;
            }
        }
        .button {
            width: 100%;
        }
        &_forgot {
            display: block;
            width: 100%;
            margin-top: 10px;
            font-size: 12px;
            color: #878787;
            left: 0;
            text-align: center;
            &:hover,
            &:focus {
                color: $dark-gray;
            }
        }
    }
}

.cats {
    padding-bottom: 6px;
    > .row {
        @include breakpoint(large down) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 37px;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;
        line-height: 16px;
    }
    &_bid {
        p {
            background: map-get($foundation-palette, alert);
        }
    }
    &_board {
        p {
            background: map-get($foundation-palette, warning);
        }
    }
    &_services {
        p {
            background: #07485B;
        }
    }
    &_info {
        p {
            background: #0D6986;
        }
    }
    &_debtor {
        p {
            background: map-get($foundation-palette, fifth);
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding-left: 14px;
        font-size: 15px;
    }
    li {
        padding-bottom: 5px;
    }
    i {
        font-size: 16px;
        color: #98A1AF;
        margin-right: 6px;
    }
    a {
        display: flex;
        transition: 200ms;
        &:hover {
            color: map-get($foundation-palette, alert);
            i {
                color: map-get($foundation-palette, alert);
                transition: 200ms;
            }
        }
    }
}

.content{
    width: 100%;
    flex: 1 1 auto;
}

.article{
    @include breakpoint(medium down) {
        padding-top: 20px;
    }
    &_banner{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 80px;
        text-align: center;
        background: map-get($foundation-palette, warning);
        font-size: 28px;
        padding: 0 10px;
        text-decoration: none !important;
        color: $white !important;
        @include breakpoint(small down) {
            flex-direction: column;
            height: auto;
            padding: 10px;
        }
    }
}

.board {
    &_head {
        background: $light-gray;
        margin-bottom: 11px;
        min-height: 42px;
        @include breakpoint(medium down) {
            background-color: #F7F7F7;
        }
    }
    &_header {
        text-transform: uppercase;
        h1 {
            font-size: 1.2857142857rem;
            margin: 0;
            padding-right: 0;
            font-weight: 600;
            @include breakpoint(medium down) {
                font-size: 14px;
            }
        }
    }
    &_count {
        text-align: center;
        background: map-get($foundation-palette, warning);
        color: $white;
        width: 110px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: normal;
    }
    &_search {
        form {
            position: relative;
            @include breakpoint(small down) {
                margin: 10px 0;
            }
        }
        input {
            width: 100%;
            margin: 0;
            height: 26px;
            padding: 0 13px;
            padding-right: 30px;
            border-radius: 13px;
        }
        i {
            position: absolute;
            right: 37px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            font-size: 15px;
            color: #16a1a4;
            cursor: pointer;
            -webkit-transition: 300ms;
            transition: 300ms;
            &.fa-circle {
                color: #e74c3c;
            }
            &.fa-microphone-slash {
                color: #AAAAAA;
                cursor: no-drop;
            }
        }
        button{
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            outline: none;
        }
    }
    &_cats {
        margin-bottom: 8px;
        .catsTableI{
            display: block;
        }
        p {
            display: table;
            padding: 0 30px;
            margin: auto;
            background: $light-gray;
            text-align: center;
            text-transform: uppercase;
            line-height: 27px;
            position: relative;
            border-top-right-radius: 23px 32px;
            border-top-left-radius: 23px 32px;
            &::before {
                content: '';
                position: absolute;
                left: -8px;
                bottom: 0;
                border-bottom: 22px solid $light-gray;
                border-left: 16px solid rgba(0, 0, 0, 0);
            }
            &::after {
                content: '';
                position: absolute;
                left: -8px;
                bottom: 0;
                border-bottom: 22px solid $light-gray;
                border-left: 16px solid rgba(0, 0, 0, 0);
                left: auto;
                right: -8px;
                transform: scale(-1, 1)
            }
        }
        tbody {
            display: flex;
            flex-flow: row wrap;
        }
        tr {
            display: block;
            flex: 0 0 50%;
            max-width: 50%;
            border: 2px solid $light-gray;
            border-bottom: 0;
            padding: 0 10px;
            @include breakpoint(small down) {
                flex: 0 0 100%;
                max-width: 100%;
                &:nth-child(2) {
                    position: relative;
                    margin-top: 50px;
                    &::before {
                        content: 'Предложение';
                        display: block;
                        width: 165px;
                        padding: 0 30px;
                        margin: auto;
                        margin-top: -29px;
                        margin-bottom: 2px;
                        background: #ECF0F1;
                        text-align: center;
                        text-transform: uppercase;
                        line-height: 27px;
                        position: relative;
                        border-top-right-radius: 23px 32px;
                        border-top-left-radius: 23px 32px;
                    }
                }
                &:nth-last-child(2) {
                    td {
                        position: relative;
                        &::before {
                            content: '';
                            position: absolute;
                            left: calc(50% - 92px);
                            bottom: -52px;
                            border-bottom: 22px solid #ECF0F1;
                            border-left: 16px solid rgba(0, 0, 0, 0);
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -52px;
                            border-bottom: 22px solid #ECF0F1;
                            border-left: 16px solid rgba(0, 0, 0, 0);
                            right: calc(50% - 89px);
                            transform: scale(-1, 1)
                        }
                    }
                }
            }
            &:nth-child(odd) {
                border-right: 0;
                @include breakpoint(small down) {
                    order: 1;
                }
            }
            &:nth-child(even) {
                border-left: 0;
                @include breakpoint(small down) {
                    order: 2;
                }
            }
            &:nth-last-child(-n+2) {
                border-bottom: 2px solid $light-gray;
            }
            td {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
            }
        }
        i {
            color: #BAAB9D;
            margin-right: 12px;
            font-size: 20px;
            transition: 200ms;
        }
        a {
            display: flex;
            align-items: center;
            color: $black;
            &:hover{
                i{
                    color: $black;
                }
            }
        }
        b {
            border-radius: 6px;
            font-size: 10px;
            color: $white;
            background-color: map-get($foundation-palette, warning);
            padding: 0 6px;
            line-height: 12px;
        }
        &_section {
            tr {
                order: 1 !important;
                @include breakpoint(small down) {
                    &:last-child {
                        display: none;
                    }
                    &:nth-child(2) {
                        margin: 0;
                        &::before {
                            display: none;
                        }
                    }
                    &:nth-last-child(2) {
                        td {
                            &::before,
                            &::after {
                                display: none;
                            }
                        }
                    }
                    &:nth-child(odd) {
                        border-right: 2px solid $light-gray;
                    }
                    &:nth-child(even) {
                        border-left: 2px solid $light-gray;
                    }
                }
            }
            img {
                max-width: 30px;
                margin: 5px 0;
                margin-right: 12px;
            }
            h3 {
                font-size: 1rem;
                margin: 0;
                flex-grow: 1;
                a {
                    display: table;
                }
            }
        }
    }
    &_top {
        @include breakpoint(small down) {
            flex-direction: column-reverse;
            white-space: nowrap;
            text-align: center;
        }
        h4 {
            text-transform: uppercase;
            margin: 0;
        }
        a {
            color: $black;
            i {
                display: block;
                float: left;
                // margin-top: -5px;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                border-radius: 50%;
                background-color: map-get($foundation-palette, third);
                color: $white;
                line-height: 21px;
                text-align: center;
            }
        }
    }
    &_vip {
        margin-top: -16px;
        margin-bottom: 8px;
        @include breakpoint(small down) {
            margin-top: 10px;
        }
        p {
            display: table;
            margin: auto;
            padding: 0 30px;
            line-height: 29px;
            background-color: map-get($foundation-palette, alert);
            border-radius: 40px 40px 0 0;
            text-transform: uppercase;
            color: $white;
            font-weight: 600;
        }
        &_inner {
            border: 5px solid map-get($foundation-palette, alert);
            border-radius: 3px;
            .item {
                background-color: map-get($foundation-palette, vip) !important;
                padding-bottom: 0;
                margin-bottom: 20px;
                &:last-of-type {
                    margin: 0;
                }
                &_contacts {
                    display: flex;
                    justify-content: space-around;
                    font-size: 14px;
                    background-color: map-get($foundation-palette, vip_acc);
                    line-height: 35px;
                    text-align: center;
                    white-space: nowrap;
                    @include breakpoint(small down) {
                        width: calc(100% + 10px);
                        margin-left: -10px !important;
                    }
                    a {
                        color: $black;
                    }
                }
            }
        }
    }
    &_oitems {
        margin-bottom: 23px;
        .empty {
            margin-top: 20px;
            text-align: center;
        }
    }
}

.item {
    padding: 10px;
    @include breakpoint(small down) {
        padding-left: 10px !important;
    }
    .goods-list.with-clear .list-item:nth-child(even) &,
    &:nth-of-type(even) {
        background-color: $light-gray;
    }
    &--banner{
        
    }
    &_outer{
        border: 0;
        margin-bottom: 20px;
        .item--banner{
            background-color: map-get($foundation-palette, vip_acc) !important;
            padding-bottom: 10px;
        }
    }
    &_na{
        background-color: #ddd !important;
    }
    &>div {
        &:last-child {
            padding-left: 0;
        }
    }
    &_img {
        img {
            width: 100%;
        }
    }
    .item &_title {
        display: block;
        color: $black;
        font-size: 18px;
        font-weight: 600;
        line-height: normal;
    }
    &_date {
        font-size: 12px;
        color: $dark-gray;
    }
    &_desc {
        line-height: normal;
        padding-left: 0;
        padding-top: 5px;
    }
    &_details {
        font-size: 12px;
        color: $dark-gray;
        margin-top: 8px;
        &_vip {
            color: $black;
        }
        i {
            margin-left: 15px;
        }
    }
    &_pinned{
        // padding-bottom: 0;
        .item_contacts {
            display: flex;
            justify-content: space-around;
            font-size: 14px;
            background-color: $medium-gray;
            line-height: 35px;
            text-align: center;
            white-space: nowrap;
            @include breakpoint(small down) {
                width: calc(100% + 10px);
                margin-left: -10px !important;
            }
            a {
                color: $black;
            }
        }
    }
}

.fin_publ {
    border: 2px solid $light-gray;
    padding: 30px 40px;
    margin-top: 15px;
    @include breakpoint(large down) {
        padding: 20px 30px;
    }
    h4 {
        text-transform: uppercase;
    }
    ul {
        list-style: none;
        margin: 0;
    }
    li {
        padding: 5px 0;
    }
}

.bitem{
    &_path{    
        margin-bottom: 10px;
    }
    &_small{
        font-size: 12px;
        color: $dark-gray;
        a{
            color: $dark-gray;
        }
    }
}

.service{
    &_section{
        li{
            margin-bottom: 20px;
        }
    }
    &_search{
        position: relative;
        padding: 30px;
        background-color: $light-gray;
        @include breakpoint(medium down) {
            padding: 15px;
        }
        &_header{
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 8px;
        }
        form{
            > .column{
                padding-top: 5px;
                padding-bottom: 5px;
                &:nth-child(odd){
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
        input, select{
            margin: 0;
            &[type="radio"]{
                display: none;
            }
            &[type="submit"]{
                margin-top: 8px;
            }
        }
        @include breakpoint(515px down) {
            .switch_sum{
                flex-direction: column;
                label{
                    &:first-of-type{
                        border-radius: 18px 18px 0 0;
                    }
                    &:last-of-type{
                        border-radius: 0 0 18px 18px;
                    }
                }
            }
        }
    }
}

.bid{
    .column{
        @include breakpoint(440px down) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    a{
        position: relative;
        min-height: 188px;
        margin-bottom: 30px;
        border: 2px solid $black;
        padding: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;
        &:hover{
            &:before, &:after{
                opacity: 1;
                transition: 500ms
            }
        }
        &:before{
            content: '';
            display: block;
            background-color: rgba(255, 149, 0, 0.9);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
        &:after{
            content: 'Подать';
            font-size: 24px;
            color: $white;
            text-transform: uppercase;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            font-weight: 600;
        }
    }
    img{
        width: 100%;
        height: 50px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    span{
        height: 80px;
        border-top: 2px solid $black;
        font-weight: 600;
        padding-top: 10px;
        color: $black;
    }
}



.calc{
    &_tabs{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 30px;
        @include breakpoint(small down) {
            margin-bottom: 5px;
        }
        li{
            flex: 1 1 0px;
            border: 1px solid $white;
            @include breakpoint(small down) {
                flex: 0 0 33.3333333333%;
                max-width: 33.3333333333%;
            }
            &:first-child{
                border-left: 0;
            }
            &:last-child{
                border-right: 0;
            }
            a{
                padding: 0 5px;
            }
        }
    }
    &_inner{
        background-color: $light-gray;
        padding: 25px 80px;
        @include breakpoint(small down) {
            padding: 20px;
        }
        .medium-4{
            font-size: 16px;
            @include breakpoint(small down) {
                font-size: 14px;
            }
            i{
                display: inline-block;
                width: 22px;
                height: 22px;
                border: 1px solid $medium-gray;
                background-color: $white;
                border-radius: 50%;
                text-align: center;
                font-size: 14px;
                font-weight: 300;
                font-style: normal;
                color: $medium-gray;
                cursor: help;
            }
        }
        .shrink{
            font-size: 12px;
            margin-bottom: 5px;
        }
        select, [type="text"]{
            width: auto;
            max-width: 100%;
            margin: 5px 0;
        }
    }
    &_slider{
        position: relative;
        height: 6px;
        margin: 10px 0;
        .ui-slider-range{
            height: 6px;
            border-radius: 3px;
        }
        &_min{
            position: absolute;
            width: 100%;
            background-color: $medium-gray;
        }
        &_corner{
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: map-get($foundation-palette, warning);
            border-radius: 50%;
            top: -8px;
            margin-left: -10px;
            border: 1px solid darken(map-get($foundation-palette, warning), 20);
            z-index: 3;
            + div{
                position: relative;
                background-color: map-get($foundation-palette, third);
                z-index: 2;
            }
        }
    }
    &_submit{
        margin-top: 20px;
    }
    &_result{
        display: none;
        width: 100%;
        margin-top: 30px;
        tr{
            height: 35px;
            &:nth-child(odd){
                background-color: $light-gray;
            }
            &:last-child{
                background-color: $medium-gray;
                color: $white;
                font-weight: 600;
            }
        }
        th{
            text-align: left;
        }
        th, td{
            padding: 0 20px;
            @include breakpoint(small down) {
                padding: 0 10px;
            }
            &[colspan="3"]{
                font-weight: 600;
            }
        }
    }
}

.publ{
    &_cats{
        display: flex;
        flex-flow: row wrap;
        a{
            display: flex;
            flex: 1 1 0px;
            height: 70px;
            background-color: $light-gray;
            border: 1px solid $white;
            color: #565656;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-weight: 600;
            padding: 5px;
            @include breakpoint(small down) {
                height: 60px;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }
    &_items{
        margin-bottom: 23px;
        [id^="entryID"]:nth-child(even){
            background-color: $light-gray;
        }
        .item_adress{
            padding-left: 0;
        }
    }
}

.banks{
    &_search{
        background-color: $light-gray;
        overflow: hidden;
        padding: 20px;
        @include breakpoint(small down) {
            padding: 10px;
        }
        &_input{
            display: flex;
            margin-bottom: 10px;
            input{
                margin: 0;
                margin-right: -50px;
                padding-right: 68px;
            }
        }
        &_switch{
            display: flex;
            float: none;
            margin-bottom: 10px;
            @include breakpoint(medium down) {
                flex-wrap: wrap;
            }
            a{
                border: 2px solid $light-gray;
                padding: 0 10px;
                white-space: nowrap;
                flex: 0 0 auto;
            }
            label{
                line-height: normal;
                margin-left: 10px;
                display: flex;
                align-items: center;
                @include breakpoint(medium down) {
                    flex: 0 0 100%;
                    margin: 0;
                    margin-top: 10px;
                }
            }
            input{
                margin: 0;
                margin-right: 5px;
                min-width:20px;
                flex: 15%;
                @include breakpoint(medium down) {
                    flex:none;
                }
            }
        }
        &_alphabet{
            display: flex;
            flex-wrap: wrap;
            a{
                white-space: nowrap;
                color: $dark-gray;
                padding: 0 5px;
                text-align: center;
                flex: 1 1 auto;
            }
        }
    }
    &_items{
        margin-bottom: 23px;
        [id^="entryID"]:nth-child(even){
            background-color: $light-gray;
        }
        &_rating{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            ul{
                margin-bottom: 10px;
            }
        }
    }
}